.state:hover {
	fill: white !important;
}

#USAMap {
	transform: scale(1);
}

.padding-50 {
	padding: 50px;
}

.mt-15 {
	margin-top: 15px;
}

.stat-slider {
	margin-top: 5px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url('loading.gif') 50% 50% no-repeat;
}

body.loading .modal {
	overflow: hidden;
}

body.loading .modal {
	display: block;
}